.articles-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.articles-header__title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px; /* 125% */
  letter-spacing: -0.8px;
}

.articles-header__switches {
  display: inline-flex;
  align-self: center;
  gap: 16px;
}

.articles-header__switcher--active {
  stroke: red;
}

.articles-header__text {
  color: #6b7280;
  text-align: center;
  font-size: 20px;
  line-height: 28px; /* 140% */
}
