.chapter {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chapter__title {
  font-size: 24px;
  line-height: 20px; /* 83.333% */
}

.chapter__text {
  line-height: 20px; /* 125% */
}

@media (width < 1024px) {
  .chapter__title {
    font-size: 20px;
  }
}

@media (width < 768px) {
  .chapter__title {
    font-size: 18px;
  }

  .chapter__text {
    font-size: 14px;
  }
}
