.footer-content {
  display: flex;
  min-height: 108px;
  align-items: center;
  justify-content: end;
}

.footer-content__text {
  color: #fff;
  font-size: 11px;
  text-align: right;
  line-height: 20px; /* 181.818% */
}
