.header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: #1f2937;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.header__hamburger {
  display: none;
}

@media (width < 1024px) {
  .logo {
    width: 190px;
    height: 45px;
  }
}

@media (width < 576px) {
  .header__hamburger {
    display: block;
  }

  .logo {
    width: 142px;
    height: 34px;
  }
}
