.helpful-info {
  padding-top: 64px;
}

.helpful-info__title {
  font-size: 32px;
  font-weight: 700;
}

.helpful-info__content {
  padding-top: 64px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 20px;
}

.helpful-info__sidebar {
  grid-column: span 4 / span 4;
}

.helpful-info__info {
  grid-column: span 8 / span 8;
}
