.info {
  height: 100%;
  border: 1px solid #000;
  padding: 30px 32px;
  flex-shrink: 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.info__title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 6px;
}
