.sidebar-list {
  margin-top: 16px;
  width: 2340px;
  min-height: 96px;
  height: 100%;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-list__item {
  list-style: inside;
}
