.sidebar-list {
  padding-top: 16px;
  padding-left: 10px;
  min-height: 96px;
  height: 100%;
  flex-shrink: 0;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-list__item {
  list-style: inside;
}
