.sidebar {
  border: 1px solid #000;
  background: #fcffe7;
  padding: 28px 30px;
  display: flex;
  flex-direction: column;
}

.sidebar__title {
  font-size: 20px;
  font-weight: 500;
}

@media (width < 768px) {
  .sidebar {
    padding: 20px 26px;
  }
}
